.lower_part_add_tooth{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap:10px;
}

.curclair_btn2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px solid #4BB543;
    padding: 6px 11px;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    transition: 0.4s;
 }

 .curclair_btn2:hover{
    opacity: 0.6
 }

 .list_class{
    position: absolute;
    bottom: 40px;
    left: 10px;
    background-color: #252C48;
    padding: 10px;
    width: 50%;
    border-radius:10px ;
}

.add_toothmenu_title{
    width: 100%;
    display: flex;
    align-items: center;
    font-weight: 500;
    color: white;
}
.table_data_organizer{
    display: flex;
    flex-direction: column;
    gap: 20px;
 }
.butn_group1{
    display: flex;
     align-items: center;
     gap: 10px;
}

.btn_cont_table{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 0 5px;
}

 .curclair_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px solid #4BB543;
    padding: 7px 8px;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    transition: 0.4s;
 }

 .curclair_btn:hover{
    opacity: 0.6
 }

 .comment_body_map{
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    width: 100%;
    gap: 7px;
 }



 .add_comment_btn{
    width: 100%;
    display: flex;
    justify-content: flex-end;
 }

 .add_comment_btn_class{
    display: flex;
    padding: 7px;
    border-radius: 7px;
    background: linear-gradient(90deg, #BF7FFF 0%, #A667E4 100%);
    cursor: pointer;
    transition: 0.4s;
 }
 .add_comment_btn_class:hover{
    opacity: 0.6;
 }

 .comment_body{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: rgb(26, 25, 25);
    /* align-items: center; */
    justify-content: space-evenly;
    width: 60%;
    height: 35%;
    padding: 20px;
    position: absolute;
    top: 10%;
}


.comment_card_body{
   display: flex;
   flex-direction: column;
   gap: 6px;
   background: rgb(44, 43, 43);
   border-radius: 8px;
   padding: 10px;
   overflow-wrap: break-word;
}

.comment_row_body{
   display: flex;
   flex-direction: column;
   gap: 3px;
}
.comments_here{
   color: white;
   font-size: 17px;

}
.comment_date{
   font-size: 13px;
   color: rgb(221, 221, 221);

}

.sub_comment_btns{
   display: flex;
   width: 100%;
   justify-content: flex-end;
   gap: 10px;
   margin-top: 10px;
}

.sub_comment_date_class{
   width: 100%;
   display: flex;
   justify-content: end;
   font-size: 14px;
   color: grey;
}