.button_type1{
    color: white;
    background: linear-gradient(90deg, #BF7FFF 0%, #A667E4 100%);
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: 0.4s;
}

.button_type1:hover{
    opacity: 0.6;
}
