.appoint_body{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(26, 25, 25);
    /* align-items: center; */
    justify-content: space-evenly;
    width: 40%;
    height: 58%;
    padding: 20px;

}

.inputs_continer{
    display: flex;
     width: 100%;
    align-items: center;
    gap: 10px;

    justify-content: space-evenly;
}

.input_date_time{
    /* width: 100%; */
    outline: none;
    border: none;
    background-color: white;
    padding: 5px;
    border-radius: 8px;
}

.header_appointment_pop{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.date_dev{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: fit-content;
    width: 100%;
}