textarea {
    resize: none;
  }

  .textarea_dev_con{
    display: flex;
    align-self: start;
    flex-direction: column;
    justify-content: center;
    color: white;
    gap: 10px;
    width: 100%;
    height:100% ;
  }


.textarea_componat{
    height: 100%;
    background-color: #3A3C3E;
border-radius: 5px;
padding: 10px 7px;
border: none;
outline: none;
color: white;
color-scheme: light;
}