.comp_dev{
    display: flex;
    align-self: start;
    flex-direction: column;
    justify-content: center;
    color: white;
    gap: 10px;
}

.input_comp{
width: 60%;
height: 40%;
background-color: #3A3C3E;
border-radius: 5px;
padding: 10px 7px;
border: none;
outline: none;
color: white;
color-scheme: light;
}

.input_comp::-webkit-calendar-picker-indicator{
    color: white;
}
input[type=date]::-webkit-calendar-picker-indicator{
border-color: white;

}