.patient_details_grid{
    display: grid;
    grid-template-columns: 36% 36% 36%;
    height: 100%;
    width: 100%;
}

.background_patient{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body_itself{
    width: 90%;
    height:80%;
    background-color: #1A1C1E;
    margin: 0 auto;
    padding: 20px;
    border-radius:7px ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.adding_patient_details{
    width: 50%;
    background: linear-gradient(90deg, #BF7FFF 0%, #A667E4 100%);
    border-radius: 8px;
    cursor: pointer;
    border: none;
    padding: 10px;
    color: white;
}